@media (max-width: 650px) {
.section1{
  width: 100%!important;
}
  .section1 .appbar {
    justify-content: center;
  }
  .section1 .box {
    height: 80vh;
    width: 100%;
  }
  .section1 .box .appbar a {
    display: none;
  }
  .section1 .box .content {
    width: 100%;
  }
  .section1 .box .content #described {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .section1 .box .content #described span:nth-child(1) {
    font-size: 30px;
  }
  .section1 .box .content #described span:nth-child(2) {
    font-size: 15px;
  }

  .section1 .box .content .imgsDescribed {
    display: none;
  }
  .section3 .box {
    width: 100%;
  }
  .section3 .box .img {
    display: none;
  }
  .section3 .box .described {
    width: 90% !important;
  }
  .section3 .box .described span:nth-child(1) {
    font-size: 30px !important;
  }
  .section3 .box .described span:nth-child(2) {
    font-size: 18px !important;
  }
  .section4 .box {
    width: 100%;
  }
  .section4 .box .img {
    display: none;
  }
  .section4 .box .described {
    width: 90% !important;
  }
  .section4 .box .described span:nth-child(1) {
    font-size: 30px !important;
    font-weight: bold;
  }
  .section4 .box .described span:nth-child(2) {
    font-size: 18px !important;
  }
  .section6{
    margin-top: 100px!important;
    margin-bottom: 50px!important;
  }

  .section6 .box {
    justify-content: center;
    width: 100%!important;
  }
  .section6 .box .imgs {
    display: none !important;
  }

  .section6 .box .described {
    width: 90% !important;
  }
  .section6 .box .described span:nth-child(1) {
    font-size: 30px !important;
    font-weight: bold;
  }
  .comments {
    width: 100% !important;
    height: 60vh !important;
  }
  .comments .users {
    width: auto !important;
    margin: 20px !important;
  }
  .comments .users:nth-child(3) {
    display: none !important;
  }
  .comments .users span:nth-child(2) {
    font-size: 15px !important;
  }
  .comments .users span:nth-child(4) {
    font-size: 15px !important;
  }
  .comments .users #quotation {
    height: 20px !important;
    width: 20px !important;
  }
  .comments .users img {
    height: 100px !important;
    width: 100px !important;
  }

  .slider .slick-prev::before {
    display: none;
  }

  .slider .slick-next::before {
    display: none;
  }
  .slider {
   margin-top:20px!important;
  }
  .slider .box{
    width: 100%!important;
  }
  .section5 {
    margin-top: 50px !important;
  }
  .section5 .box {
    width: 90% !important;
  }
  .section5 .box span {
    font-size: 30px !important;
    font-weight: bold;
  }
  .section5 .box .accordion {
    overflow: hidden;
  }
  .accordion__item {
    width: 90%;
  }
  .score {
    height: 80vh !important;
    overflow: hidden !important;
    padding-bottom: 0!important;
  }
  .score .box{
    width: 100%;
  }
  .score .box .cards{
    width: 100%!important;
  }
  .score .box .cards #card{
    width: 90%;
    display: flex;
   justify-content: center!important;
   align-items: center!important;
  }
  .score .box .cards #card span:nth-child(1){
    font-size: 35px;
  }
  .score h1 {
    font-size: 30px !important;
    text-align: center;
  }
  .score .box .cards #card {
    padding: 0;
    margin: 5px;
  }
  .score .box .vector{
    display: none !important;
  }
  .footer .box .card span:nth-child(1){
    width: 100%!important;
    text-align: center;
  }
  .footer .box .card span:nth-child(2){
    display: none;

  }
  .footer .box .card {
    justify-content: center!important;
height: 50px!important;
width: 100%!important;
align-items: center!important;
padding: 0px!important;
  }
  .footer .box {
    flex-direction: column;

  }
  .footer .card span{
   text-align: center;

  }
  .footer .card span{
    text-align: center;
    
   }
}
