@media (max-width: 650px) {
.section1{
  width: 100%!important;
  overflow: hidden;
}
  .section1 .appbar {
    justify-content: space-between;
  }
  .btnResponsive{
   display: flex!important;
    height: 40px;
    width: 45px;
    position: absolute;
    right: 10px;
    background-color: transparent!important;
    border: none;
  
  }
  .btnResponsive img{
    height:100%;
    width: 100%;
    
  }
  .menuMobile{
    display: flex!important;
    height: 150px;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.217);
  }
  .menuMobile a{
    display: flex!important;
    width: 80%!important;
  height: 40px!important;
  padding: 5px 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 30px;
  outline: none;
  text-decoration: none;
  color: #cb2d3e;
  font-weight: 600;
  justify-content: center;
  align-items: center;

  }
  .section1 .box {
    height: 80vh;
    width: 100%;
   
  }
  .section1 .box .appbar a {
    display: none;
  }
  .section1 .box .content {
    width: 100%;
flex-direction: column;
position: relative;

  }
  .section1 .box .content #described {
    width: 90%;
    justify-content: center;
    align-items: center;
 position: absolute;
 z-index: 6;
  }
  .section1 .box .content #described span:nth-child(1) {
    font-size: 30px;
  }
  .section1 .box .content #described span:nth-child(2) {
    font-size: 15px;
  }

  .section1 .box .content .imgsDescribed {
 height: 100%;
 position: absolute;
 z-index: 5;
  }
  .section1 .box .content .imgsDescribed img{
    height: 100%;
    opacity: 0.5;
     }
  .section3 .box {
    width: 100%;
  }
  .section3 .box .img {
    display: none;
  }
  .section3 .box .described {
    width: 90% !important;
  }
  .section3 .box .described span:nth-child(1) {
    font-size: 30px !important;
  }
  .section3 .box .described span:nth-child(2) {
    font-size: 18px !important;
  }
  .section4{
    background: #cb2d3e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
  }
  .section4 .box {
    width: 100%;
  }
  .section4 .video{
position: relative!important;  
  width: 90%!important;
  height: auto;
  top: 0!important;
  left: 0!important;
  margin-bottom: 15px;
   
  }
  .section4 .video div{
   
      width: 100%!important;
      height: 100%!important;
     
       
      }
  .section4 .box .img {
    display: none;
  }
  .section4 .box .described {
    width: 90% !important;
  }
  .section4 .box .described span:nth-child(1) {
    font-size: 30px !important;
    font-weight: bold;
  }
  .section4 .box .described span:nth-child(2) {
    font-size: 18px !important;
  }
  .section4 .box .described button {
color: crimson!important;
    background: #fff!important;
  }
  .section6{
    margin-top: 100px!important;
    margin-bottom: 50px!important;
  }

  .section6 .box {
    justify-content: center;
    align-items: center;
    width: 100%!important;
    flex-direction: column-reverse;
  }
  .section6 .box .imgs {
  width: 100%!important;
  }
  .section6 .box .imgs div img {
   width: 100px;
   height: 100px;
    }
    

  .section6 .box .described {
    width: 90% !important;
  }
  .section6 .box .described span:nth-child(1) {
    font-size: 30px !important;
    font-weight: bold;
  }
  .comments {
    width: 100% !important;
    height: 60vh !important;
  }
  .comments .users {
    width: auto !important;
    margin: 20px !important;
  }
  .comments .users:nth-child(3) {
    display: none !important;
  }
  .comments .users span:nth-child(2) {
    font-size: 15px !important;
  }
  .comments .users span:nth-child(4) {
    font-size: 15px !important;
  }
  .comments .users #quotation {
    height: 20px !important;
    width: 20px !important;
  }
  .comments .users img {
    height: 100px !important;
    width: 100px !important;
  }

  .slider .slick-prev::before {
    display: none;
  }

  .slider .slick-next::before {
    display: none;
  }
  .slider {
   margin-top:20px!important;
  }
  .slider .box{
    width: 100%!important;
  }
  .section5 {
    margin-top: 50px !important;
  }
  .section5 .box {
    width: 90% !important;
  }
  .section5 .box span {
    font-size: 30px !important;
    font-weight: bold;
  }
  .section5 .box .accordion {
    overflow: hidden;
  }
  .accordion__item {
    width: 90%;
  }
  .score {
    height: 80vh !important;
    overflow: hidden !important;
    padding-bottom: 0!important;
  }
  .score .box{
    width: 100%;
  }
  .score .box .cards{
    width: 100%!important;
  }
  .score .box .cards #card{
    width: 90%;
    display: flex;
   justify-content: center!important;
   align-items: center!important;
   margin-top: 20px!important;
  }
  .score .box .cards #card span:nth-child(1){
    font-size: 35px;
  }
  .score h1 {
    font-size: 30px !important;
    text-align: center;
  }
  .score .box .cards #card {
    padding: 0;
    margin: 5px;
  }
  .score .box .vector{
    display: none !important;
  }
  .footer .box .card span:nth-child(1){
    width: 100%!important;
    text-align: center;
  }
  .footer .box .card span:nth-child(2){
    display: none;

  }
  .footer .box .card {
    justify-content: center!important;
height: 50px!important;
width: 100%!important;
align-items: center!important;
padding: 0px!important;
  }
  .footer .box {
    flex-direction: column;

  }
  .footer .card span:nth-child(1){
   text-align: center;
font-size: 20px;
width: 80%;
margin: 50px 0px;
  }
  .footer  .card span:nth-child(2){
    text-align: center;
    font-size: 13px!important;
    width: 80%;
    margin-top: 30px;
    
   }
   .section6 .box .slider div img{

 
    padding: 12px!important;
    
    
      
    }
.footer .pag{
  display: none!important;
}
 
}
